# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environment folders
.venv/
venv/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.tmp
*.swp
