# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
python=3.10

numpy=1.23.5
gensim=3.8.3
pandas=1.4.4
scanpy=1.10.3
ipykernel=6.29.2
matplotlib=3.6.3
scikit-learn=1.0.2
